@mixin bg-img($url) {
  background: url($url) no-repeat;
  background-size: 100% 100%;
}

@mixin font-style($size, $color) {
  font-size: $size!important;
  color: $color!important;
}

@mixin position-center() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}